* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f6f9;
}

/* ================= HOME ================= */

.home {
  padding: 60px 40px;
  text-align: center;
}

.hero {
  margin-bottom: 60px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.hero button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: rgb(231, 132, 12);
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.hero button:hover {
  background-color: rgb(107, 48, 3);
  ;
}

.about {
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid rgb(107, 48, 3);
  padding: 50px;
  border-style: dashed;
}

.about h2 {
  margin-bottom: 15px;
}

.navbar {
  background-color: rgb(107, 48, 3);
  padding: 15px 30px;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;

}

.navbar a.active {
  color: blue;
  font-weight: bold;
}



.products-layout {
  padding: 40px;

}

.products-layout h1 {
  margin-bottom: 20px;
  color: rgb(231, 132, 12);
  font-family: sans-serif;
}

.products-layout p {
  margin-bottom: 30px;
  color: (80, 79, 79);
}



.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.product-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.product-card h3 {
  margin-bottom: 10px;
}

.product-card p {
  margin-bottom: 10px;
  color: #555;
}

.product-card a {
  text-decoration: none;
  color: rgb(231, 132, 12);
  font-weight: bold;
  font-size: 15px;
}



.product-details {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.product-details img {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-details h2 {
  margin-bottom: 15px;
}

.product-details p {
  margin-bottom: 10px;
}

.product-details button {
  margin-top: 15px;
  padding: 8px 14px;
  border: none;
  background-color: rgb(231, 132, 12);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.product-details button:hover {
  background-color: rgb(107, 48, 3);

}